<div class="container my-3">
  <!-- <div class="mat-display-4">Display 4 Headings</div>
<div class="mat-display-3">Display 3 Headings</div>
<div class="mat-display-2">Display 2 Headings</div>
<div class="mat-display-1">Display 1 Headings</div>


<div class="mat-heading">This is heading for h1</div>
<div class="mat-title">This is heading for h2</div>
<div class="mat-subheading-2">This is heading for h3</div>
<div class="mat-subheading-1">This is heading for h4</div>

<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is BOLD body text</div>
<div class="mat-caption">This is caption text</div>

<div class="mat-typography">
  <h1>this is simple h1</h1>
  <h2>this is simple h2</h2>
  <h3>this is simple h3</h3>
  <h4>this is simple h4</h4>
  <h5>this is simple h5</h5>
  <h6>this is simple h6</h6>
</div> -->

<!-- =======================Badges================================================= -->
<p>
  <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
</p>

<p>
    <span matBadge="1" matBadgeSize="large">Text with large badge</span>
</p>
<p>
  Button with a badge on the left
  <button mat-raised-button color="primary"
      matBadge="8" matBadgePosition="after" matBadgeColor="accent">
    Action
  </button>
</p>
<p>
  Button toggles badge visibility
  <button mat-raised-button matBadge="7" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
      Hide
  </button>
</p>

<p>
  Icon with a badge
  <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
</p>

<hr>
<!-- ===========================Bottom Sheet===============IMP====================== -->
<p>You have received a file called "cat-picture.jpeg".</p>

<button mat-raised-button (click)="openBottomSheet()">Open file</button>
<!-- =======================================================Over==================== -->

<!-- -------------------------User of ButtonGroup in Forms------------------------------ -->
<hr>
<section>
  <h4>Button Toggle inside of a Template-driven form</h4>
  <mat-button-toggle-group [(ngModel)]="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold">Bold</mat-button-toggle>
    <mat-button-toggle value="italic">Italic</mat-button-toggle>
    <mat-button-toggle value="underline">Underline</mat-button-toggle>
  </mat-button-toggle-group>
  <p>Chosen value is {{fontStyle}}</p>
</section>

<section>
  <h4>Button Toggle inside of a Reactive form</h4>
  <mat-button-toggle-group [formControl]="fontStyleControl" aria-label="Font Style">
    <mat-button-toggle value="React"> React </mat-button-toggle>
    <mat-button-toggle value="Angular"> Angular </mat-button-toggle>
    <mat-button-toggle value="Vue"> Vue </mat-button-toggle>
  </mat-button-toggle-group>
  <p>Chosen value is {{fontStyleControl.value}}</p>
</section>


<!-- ==========================Material Cards============================= -->
<hr>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<!-- -------------------CheckBox to select all, or None---------------------------------------------- -->
<hr>
<form (ngSubmit)="SubmitCheckBox()">
  <section class="example-section">
    <span class="example-list-section">
      <mat-checkbox class="example-margin"
                    [checked]="allComplete"
                    [color]="task.color"
                    [indeterminate]="someComplete()"
                    (change)="setAll($event.checked)">
        {{task.name}}
      </mat-checkbox>
    </span>
    <span class="example-list-section">
      <ul>
        <li *ngFor="let subtask of task.subtasks">
          <mat-checkbox [(ngModel)]="subtask.completed" name="{{subtask.name}}"
                        [color]="subtask.color"
                        (ngModelChange)="updateAllComplete()">
            {{subtask.name}}
          </mat-checkbox>
        </li>
      </ul>
    </span>
  </section>

  <div class="container" [class.d-none]="checkBoxResult">
    <div>{{task.subtasks[0].name}} {{task.subtasks[0].completed}}</div>
    <div>{{task.subtasks[1].name}} {{task.subtasks[1].completed}}</div>
    <div>{{task.subtasks[2].name}} {{task.subtasks[2].completed}}</div>
  </div>

  <button type="submit" mat-raised-button>Submit</button>
</form>

<!-- ======================CHIPSSSSSSSSSSS========================================================= -->
<hr>
<div class="example-button-container my-3">
  <button mat-raised-button (click)="formControl.disable()">Disable form control</button>
  <button mat-raised-button (click)="formControl.enable()">Enable form control</button>
</div>

<p>
  <i>Select a focused chip by pressing <code>SPACE</code></i>
</p>

<mat-form-field class="example-chip-list" appearance="fill">
  <mat-label>Video keywords</mat-label>
  <mat-chip-list #chipList aria-label="Video keywords" multiple [formControl]="formControl">
    <mat-chip
        *ngFor="let keyword of keywords"
        [selected]="keyword"
        [value]="keyword"
        (removed)="removeKeyword(keyword)">
      {{keyword}}
    </mat-chip>
    <input
      placeholder="New keyword..."
      [matChipInputFor]="chipList"
      (matChipInputTokenEnd)="addKeywordFromInput($event)">
  </mat-chip-list>
</mat-form-field>

<p>
  <b>The following keywords are selected:</b> {{formControl.value}}
</p>


<!-- ===============================Sort In Table using header================================================== -->

<table matSort (matSortChange)="sortData($event)">
  <tr>
    <th mat-sort-header="name">Dessert (100g)</th>
    <th mat-sort-header="calories">Calories</th>
    <th mat-sort-header="fat">Fat (g)</th>
    <th mat-sort-header="carbs">Carbs (g)</th>
    <th mat-sort-header="protein">Protein (g)</th>
  </tr>

  <tr *ngFor="let dessert of sortedData">
    <td><b> {{dessert.name}} </b></td>
    <td>{{dessert.calories}}</td>
    <td>{{dessert.fat}}</td>
    <td>{{dessert.carbs}}</td>
    <td>{{dessert.protein}}</td>
  </tr>
</table>

<!-- =========================Stapper Form In Angular======================= -->
<hr>
<app-stapper></app-stapper>

<hr>
<div>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------</div>
<app-angular-tree></app-angular-tree>







</div>
